.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  background-color: #010000;
  padding-right: 100px;
  height: 38px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  ;
}

.container>p {
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.container>span {
  color: #fff;
  transition: all 0.3s ease;
}


@media screen and (max-width: 390px) {
  .container {
    height: 34px;
  }

  .container>span {
    display: none !important;
  }
}

@media screen and (max-width: 530px) {
  .container {
    font-size: 14px;
  }

  .container>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}